.App {
  background-color: #16160a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.container {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  background: #72757e;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: all 1s ease-in-out;
}
.container:hover > .container-bot {
  opacity: 1;
}
.container:hover > .btn-ops {
  opacity: 1;
}
.container .title {
  position: absolute;
  top: 100px;
  left: -20px;
  color: #16161a;
  font-size: clamp(50px, 10vw, 150px);
  font-family: "Nova Square", cursive;
  font-weight: bold;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.btn-ops {
  position: absolute;
  right: 0;
  bottom: 150px;
  opacity: 0;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.loading::after, .loading::before, .loading {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #010101;
}

input {
  font-family: "Source Code Pro", mono space;
  font-size: 15px;
  color: #010101;
  height: 2em;
  padding: 5px;
  outline: 0;
  position: relative;
  width: min(400px, 50vw);
  z-index: 99;
}

button {
  font-size: 20px;
  font-family: "Source Code Pro", mono space;
  border: 0;
  outline: 0;
  background: #16161a;
  color: #fffffe;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 99;
}
button:hover {
  color: #7f5af0;
}

.ap-nostyle-input-icon {
  display: none;
}

.ap-nostyle-dropdown-menu {
  width: min(412px, 50vw);
  border: none;
  left: 1px !important;
}
.ap-nostyle-dropdown-menu:last-child {
  display: none;
}
.ap-nostyle-dropdown-menu .ap-nostyle-suggestion {
  border-bottom: 1px solid black;
  font-family: "Source Code Pro", mono space;
  font-size: 15px;
  height: 2em;
  padding: 5px;
  outline: 0;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.ap-nostyle-dropdown-menu .ap-nostyle-suggestion:nth-child(5) {
  border: none;
}
.ap-nostyle-dropdown-menu .ap-nostyle-suggestion:hover, .ap-nostyle-dropdown-menu .ap-nostyle-suggestion:focus {
  background: #72757e;
  color: #fffffe;
}

.container-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  overflow-x: auto;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}
.container-bot:hover {
  opacity: 1;
}
.container-bot:hover ~ .btn-ops {
  opacity: 1;
}

.other-img-wrap {
  height: 150px;
  flex-direction: row;
  display: flex;
}
.other-img-wrap .imgCard {
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.other-img-wrap .imgCard img {
  height: 130px;
  border-top: 5px solid transparent;
  transition: all 0.5s ease-in-out;
}
.other-img-wrap .imgCard img:hover {
  border-top: 5px solid black;
}
.other-img-wrap .imgCard .selected {
  border-top: 5px solid black;
}

.loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
}
.loading::before {
  content: "";
  position: absolute;
  left: 15px;
  animation: jumps 0.5s ease infinite;
}
.loading::after {
  content: "";
  position: absolute;
  left: -15px;
  animation: jumps 0.5s ease infinite;
  animation-delay: 0.25s;
}

@keyframes jumps {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
@keyframes fancy {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.ap-footer {
  display: none !important;
}
.ap-footer a {
  display: none !important;
}
.ap-footer a span {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=App.css.map */
